Statistical estimation with a 95% confidence interval for number and percentage of inpatient beds occupied by COVID-19 patients for the given state and date

Data Dictionary:
1. state (string): The two digit state code
2. collection_date (date): Date estimated
3. Inpatient Beds Occupied by COVID-19 Patients Estimated (double): Estimated number of inpatient beds occupied by COVID-19 patients for the given state and date
4. Count LL (double): Estimated number of inpatient beds occupied by COVID-19 patients for the given state and date, lower limit, 95% confidence interval
5. Count UL (double): Estimated number of inpatient beds occupied by COVID-19 patients for the given state and date, upper limit, 95% confidence interval
6. Percentage of Inpatient Beds Occupied by COVID-19 Patients Estimated (double): Estimated percentage of inpatient beds occupied by COVID-19 patients for the given state and date
7. Percentage LL (double): Estimated percentage of inpatient beds occupied by COVID-19 patients for the given state and date, lower limit, 95% confidence interval
8. Percentage UL (double): Estimated percentage of inpatient beds occupied by COVID-19 patients for the given state and date, upper limit, 95% confidence interval

In [9]:
import pandas as pd

In [13]:
# Loading csv
csv = "estimated_beds.csv"
csv_df = pd.read_csv(csv)
csv_df

,state,collection_date,Inpatient Beds Occupied Estimated,Count LL,Count UL,Percentage of Inpatient Beds Occupied Estimated,Percentage LL,Percentage UL,Total Inpatient Beds,Total LL,Total UL
0,CW,2020-08-12,"491,077","488,861","493,293",68.74,68.17,69.31,"696,463","693,474","699,452"
1,CW,2020-08-13,"492,601","490,223","494,978",68.71,68.07,69.34,"699,026","695,947","702,106"
2,CW,2020-08-14,"491,212","489,080","493,345",68.29,67.74,68.84,"701,532","698,728","704,337"
3,CW,2020-08-15,"476,285","473,379","479,190",66.30,65.23,67.37,"700,499","696,701","704,298"
4,CW,2020-08-16,"463,508","460,882","466,133",64.79,63.89,65.70,"697,527","694,125","700,930"
...,...,...,...,...,...,...,...,...,...,...,...
1691,WY,2020-09-10,563,487,639,37.51,33.75,41.27,"1,501","1,276","1,726"
1692,WV,2020-09-11,"3,854","3,854","3,854",67.72,67.72,67.72,"5,691","5,691","5,691"
1693,WY,2020-09-11,590,516,664,39.07,39.07,39.07,"1,510","1,287","1,733"
1694,WV,2020-09-12,"3,702","3,702","3,702",65.24,65.24,65.24,"5,674","5,674","5,674"
1695,WY,2020-09-12,573,468,678,37.95,18.29,57.60,"1,510","1,247","1,773"

In [14]:
# dropped all rows with NaN values 
clean_df = csv_df.dropna(how='any')
clean_df

,state,collection_date,Inpatient Beds Occupied Estimated,Count LL,Count UL,Percentage of Inpatient Beds Occupied Estimated,Percentage LL,Percentage UL,Total Inpatient Beds,Total LL,Total UL
0,CW,2020-08-12,"491,077","488,861","493,293",68.74,68.17,69.31,"696,463","693,474","699,452"
1,CW,2020-08-13,"492,601","490,223","494,978",68.71,68.07,69.34,"699,026","695,947","702,106"
2,CW,2020-08-14,"491,212","489,080","493,345",68.29,67.74,68.84,"701,532","698,728","704,337"
3,CW,2020-08-15,"476,285","473,379","479,190",66.30,65.23,67.37,"700,499","696,701","704,298"
4,CW,2020-08-16,"463,508","460,882","466,133",64.79,63.89,65.70,"697,527","694,125","700,930"
...,...,...,...,...,...,...,...,...,...,...,...
1691,WY,2020-09-10,563,487,639,37.51,33.75,41.27,"1,501","1,276","1,726"
1692,WV,2020-09-11,"3,854","3,854","3,854",67.72,67.72,67.72,"5,691","5,691","5,691"
1693,WY,2020-09-11,590,516,664,39.07,39.07,39.07,"1,510","1,287","1,733"
1694,WV,2020-09-12,"3,702","3,702","3,702",65.24,65.24,65.24,"5,674","5,674","5,674"
1695,WY,2020-09-12,573,468,678,37.95,18.29,57.60,"1,510","1,247","1,773"

In [15]:
# checking names of states 
clean_df["state"].unique()

array(['CW', 'AL', 'DC', 'AR', 'CA', 'CT', 'GA', 'ID', 'IN', 'KS', 'LA',
       'MD', 'MI', 'AK', 'FL', 'CO', 'DE', 'IL', 'AZ', 'HI', 'IA', 'KY',
       'ME', 'MA', 'MN', 'MS', 'MT', 'NV', 'ND', 'NJ', 'NY', 'OR', 'PR',
       'RI', 'MO', 'NE', 'SD', 'TX', 'VT', 'NC', 'NH', 'NM', 'OH', 'OK',
       'PA', 'SC', 'VA', 'UT', 'WA', 'WI', 'TN', 'WV', 'WY'], dtype=object)

In [16]:
# checking number of states 
clean_df["state"].nunique()

53

In [17]:
# Dropping the state columns with the alue 'CW'
clean_states = csv_df.drop(csv_df.loc[csv_df['state']== 'CW'].index)
clean_states

,state,collection_date,Inpatient Beds Occupied Estimated,Count LL,Count UL,Percentage of Inpatient Beds Occupied Estimated,Percentage LL,Percentage UL,Total Inpatient Beds,Total LL,Total UL
32,AL,2020-08-12,"10,517","10,290","10,744",74.57,69.51,79.64,"14,103","13,823","14,383"
33,DC,2020-08-12,"2,319","2,319","2,319",82.56,82.56,82.56,"2,809","2,809","2,809"
34,AL,2020-08-13,"10,506","10,492","10,520",74.31,74.00,74.62,"14,138","14,121","14,155"
35,DC,2020-08-13,"2,353","2,353","2,353",86.06,86.06,86.06,"2,734","2,734","2,734"
36,AL,2020-08-14,"10,270","10,214","10,326",72.57,71.11,74.03,"14,152","14,059","14,245"
...,...,...,...,...,...,...,...,...,...,...,...
1691,WY,2020-09-10,563,487,639,37.51,33.75,41.27,"1,501","1,276","1,726"
1692,WV,2020-09-11,"3,854","3,854","3,854",67.72,67.72,67.72,"5,691","5,691","5,691"
1693,WY,2020-09-11,590,516,664,39.07,39.07,39.07,"1,510","1,287","1,733"
1694,WV,2020-09-12,"3,702","3,702","3,702",65.24,65.24,65.24,"5,674","5,674","5,674"
1695,WY,2020-09-12,573,468,678,37.95,18.29,57.60,"1,510","1,247","1,773"

In [18]:
# Dropping the state columns with the alue 'PR' 
df = clean_states.drop(clean_states.loc[clean_states['state']== 'PR'].index)
df

,state,collection_date,Inpatient Beds Occupied Estimated,Count LL,Count UL,Percentage of Inpatient Beds Occupied Estimated,Percentage LL,Percentage UL,Total Inpatient Beds,Total LL,Total UL
32,AL,2020-08-12,"10,517","10,290","10,744",74.57,69.51,79.64,"14,103","13,823","14,383"
33,DC,2020-08-12,"2,319","2,319","2,319",82.56,82.56,82.56,"2,809","2,809","2,809"
34,AL,2020-08-13,"10,506","10,492","10,520",74.31,74.00,74.62,"14,138","14,121","14,155"
35,DC,2020-08-13,"2,353","2,353","2,353",86.06,86.06,86.06,"2,734","2,734","2,734"
36,AL,2020-08-14,"10,270","10,214","10,326",72.57,71.11,74.03,"14,152","14,059","14,245"
...,...,...,...,...,...,...,...,...,...,...,...
1691,WY,2020-09-10,563,487,639,37.51,33.75,41.27,"1,501","1,276","1,726"
1692,WV,2020-09-11,"3,854","3,854","3,854",67.72,67.72,67.72,"5,691","5,691","5,691"
1693,WY,2020-09-11,590,516,664,39.07,39.07,39.07,"1,510","1,287","1,733"
1694,WV,2020-09-12,"3,702","3,702","3,702",65.24,65.24,65.24,"5,674","5,674","5,674"
1695,WY,2020-09-12,573,468,678,37.95,18.29,57.60,"1,510","1,247","1,773"

In [19]:
# Checking how many states are in the df after the deletions 
df["state"].nunique()

51

In [20]:
# Sorting data by state
sorted_df = df.sort_values(by=['state'])
sorted_df

,state,collection_date,Inpatient Beds Occupied Estimated,Count LL,Count UL,Percentage of Inpatient Beds Occupied Estimated,Percentage LL,Percentage UL,Total Inpatient Beds,Total LL,Total UL
472,AK,2020-09-09,936,936,936,46.41,46.41,46.41,"1,211","1,184","1,238"
470,AK,2020-09-08,868,865,870,41.82,38.63,45.02,"1,211","1,182","1,240"
416,AK,2020-08-12,960,957,963,45.08,43.65,46.50,"1,280","1,268","1,292"
418,AK,2020-08-13,921,921,921,43.95,43.95,43.95,"1,281","1,281","1,281"
420,AK,2020-08-14,947,947,947,44.38,44.38,44.38,"1,280","1,280","1,280"
...,...,...,...,...,...,...,...,...,...,...,...
1643,WY,2020-08-17,609,517,701,35.11,12.27,57.95,"1,734","1,527","1,941"
1671,WY,2020-08-31,583,436,730,40.62,6.11,75.13,"1,435","1,130","1,740"
1673,WY,2020-09-01,563,443,683,39.06,13.07,65.04,"1,441","1,175","1,707"
1677,WY,2020-09-03,563,459,667,37.39,18.34,56.45,"1,505","1,253","1,757"
1695,WY,2020-09-12,573,468,678,37.95,18.29,57.60,"1,510","1,247","1,773"

In [28]:
# Number of dates per state
sorted_df.loc[:,["collection_date", "state"]].uni

     collection_date state
472       2020-09-09    AK
470       2020-09-08    AK
416       2020-08-12    AK
418       2020-08-13    AK
420       2020-08-14    AK
...              ...   ...
1643      2020-08-17    WY
1671      2020-08-31    WY
1673      2020-09-01    WY
1677      2020-09-03    WY
1695      2020-09-12    WY

[1632 rows x 2 columns]

In [21]:
# ## setting df index to state 
# state_df = sorted_df.set_index('state')
# state_df

,collection_date,Inpatient Beds Occupied Estimated,Count LL,Count UL,Percentage of Inpatient Beds Occupied Estimated,Percentage LL,Percentage UL,Total Inpatient Beds,Total LL,Total UL
state,,,,,,,,,,
AK,2020-09-09,936,936,936,46.41,46.41,46.41,"1,211","1,184","1,238"
AK,2020-09-08,868,865,870,41.82,38.63,45.02,"1,211","1,182","1,240"
AK,2020-08-12,960,957,963,45.08,43.65,46.50,"1,280","1,268","1,292"
AK,2020-08-13,921,921,921,43.95,43.95,43.95,"1,281","1,281","1,281"
AK,2020-08-14,947,947,947,44.38,44.38,44.38,"1,280","1,280","1,280"
...,...,...,...,...,...,...,...,...,...,...
WY,2020-08-17,609,517,701,35.11,12.27,57.95,"1,734","1,527","1,941"
WY,2020-08-31,583,436,730,40.62,6.11,75.13,"1,435","1,130","1,740"
WY,2020-09-01,563,443,683,39.06,13.07,65.04,"1,441","1,175","1,707"
WY,2020-09-03,563,459,667,37.39,18.34,56.45,"1,505","1,253","1,757"
WY,2020-09-12,573,468,678,37.95,18.29,57.60,"1,510","1,247","1,773"

In [29]:
# Writing df to csv 
state_df.to_csv('cleaned_estimated_beds.csv', index=False)

In [25]:
# Number of dates recorded
state_df["collection_date"].unique()

array(['2020-09-09', '2020-09-08', '2020-08-12', '2020-08-13',
       '2020-08-14', '2020-08-15', '2020-08-16', '2020-08-17',
       '2020-08-18', '2020-08-19', '2020-08-20', '2020-08-21',
       '2020-08-23', '2020-08-24', '2020-08-25', '2020-08-26',
       '2020-08-22', '2020-08-28', '2020-09-10', '2020-09-11',
       '2020-08-27', '2020-09-07', '2020-09-06', '2020-09-05',
       '2020-09-04', '2020-09-12', '2020-09-02', '2020-09-01',
       '2020-08-31', '2020-08-30', '2020-08-29', '2020-09-03'],
      dtype=object)

In [26]:
# Number of dates per state
state_df[["collection_date", "state"]].unique()

KeyError: "['state'] not in index"