Statistical estimation with a 95% confidence interval for number and percentage of inpatient beds occupied by COVID-19 patients for the given state and date

Data Dictionary:
1. state (string): The two digit state code
2. collection_date (date): Date estimated
3. Inpatient Beds Occupied by COVID-19 Patients Estimated (double): Estimated number of inpatient beds occupied by COVID-19 patients for the given state and date
4. Count LL (double): Estimated number of inpatient beds occupied by COVID-19 patients for the given state and date, lower limit, 95% confidence interval
5. Count UL (double): Estimated number of inpatient beds occupied by COVID-19 patients for the given state and date, upper limit, 95% confidence interval
6. Percentage of Inpatient Beds Occupied by COVID-19 Patients Estimated (double): Estimated percentage of inpatient beds occupied by COVID-19 patients for the given state and date
7. Percentage LL (double): Estimated percentage of inpatient beds occupied by COVID-19 patients for the given state and date, lower limit, 95% confidence interval
8. Percentage UL (double): Estimated percentage of inpatient beds occupied by COVID-19 patients for the given state and date, upper limit, 95% confidence interval

In [1]:
import pandas as pd

In [2]:
# Loading csv
csv = "Resources/estimated_inpatient_original.csv"
csv_df = pd.read_csv(csv)
csv_df

,state,collection_date,Inpatient Beds Occupied by COVID-19 Patients Estimated,Count LL,Count UL,Percentage of Inpatient Beds Occupied by COVID-19 Patients Estimated,Percentage LL,Percentage UL,Total Inpatient Beds,Total LL,Total UL
0,CW,2020-08-18,"53,956","53,534","54,378",7.34,6.89,7.79,"701,765","698,684","704,846"
1,CW,2020-08-19,"52,881","52,484","53,278",7.17,6.75,7.59,"703,351","700,411","706,291"
2,CW,2020-08-20,"51,490","51,143","51,838",6.94,6.57,7.31,"707,737","704,976","710,498"
3,CW,2020-08-21,"50,243","49,877","50,608",6.77,6.34,7.20,"708,898","705,285","712,512"
4,CW,2020-08-22,"48,322","48,039","48,606",6.53,6.20,6.85,"706,285","703,160","709,410"
...,...,...,...,...,...,...,...,...,...,...,...
1691,WY,2020-09-16,29,26,32,1.92,-1.61,5.46,"1,510","1,387","1,633"
1692,WV,2020-09-17,234,232,236,4.11,4.11,4.11,"5,698","5,698","5,698"
1693,WY,2020-09-17,33,33,33,2.19,2.19,2.19,"1,510","1,510","1,510"
1694,WV,2020-09-18,232,232,232,4.14,4.14,4.14,"5,609","5,609","5,609"
1695,WY,2020-09-18,33,30,36,2.18,-1.32,5.69,"1,511","1,388","1,634"

In [3]:
# dropped all rows with NaN values 
clean_df = csv_df.dropna(how='any')
clean_df

,state,collection_date,Inpatient Beds Occupied by COVID-19 Patients Estimated,Count LL,Count UL,Percentage of Inpatient Beds Occupied by COVID-19 Patients Estimated,Percentage LL,Percentage UL,Total Inpatient Beds,Total LL,Total UL
0,CW,2020-08-18,"53,956","53,534","54,378",7.34,6.89,7.79,"701,765","698,684","704,846"
1,CW,2020-08-19,"52,881","52,484","53,278",7.17,6.75,7.59,"703,351","700,411","706,291"
2,CW,2020-08-20,"51,490","51,143","51,838",6.94,6.57,7.31,"707,737","704,976","710,498"
3,CW,2020-08-21,"50,243","49,877","50,608",6.77,6.34,7.20,"708,898","705,285","712,512"
4,CW,2020-08-22,"48,322","48,039","48,606",6.53,6.20,6.85,"706,285","703,160","709,410"
...,...,...,...,...,...,...,...,...,...,...,...
1691,WY,2020-09-16,29,26,32,1.92,-1.61,5.46,"1,510","1,387","1,633"
1692,WV,2020-09-17,234,232,236,4.11,4.11,4.11,"5,698","5,698","5,698"
1693,WY,2020-09-17,33,33,33,2.19,2.19,2.19,"1,510","1,510","1,510"
1694,WV,2020-09-18,232,232,232,4.14,4.14,4.14,"5,609","5,609","5,609"
1695,WY,2020-09-18,33,30,36,2.18,-1.32,5.69,"1,511","1,388","1,634"

In [4]:
# checking names of states 
clean_df["state"].unique()

array(['CW', 'AL', 'DC', 'AR', 'CA', 'CT', 'GA', 'ID', 'IN', 'KS', 'LA',
       'MD', 'MI', 'AK', 'FL', 'DE', 'IA', 'MA', 'AZ', 'CO', 'HI', 'IL',
       'KY', 'ME', 'MN', 'MS', 'MT', 'NV', 'ND', 'NJ', 'NY', 'PR', 'RI',
       'VT', 'MO', 'NE', 'NH', 'OR', 'SD', 'TX', 'NC', 'NM', 'OH', 'OK',
       'PA', 'SC', 'TN', 'UT', 'VA', 'WA', 'WI', 'WV', 'WY'], dtype=object)

In [5]:
# checking number of states 
clean_df["state"].nunique()

53

In [6]:
# Dropping the state columns with the alue 'CW'
clean_states = csv_df.drop(csv_df.loc[csv_df['state']== 'CW'].index)
clean_states

,state,collection_date,Inpatient Beds Occupied by COVID-19 Patients Estimated,Count LL,Count UL,Percentage of Inpatient Beds Occupied by COVID-19 Patients Estimated,Percentage LL,Percentage UL,Total Inpatient Beds,Total LL,Total UL
32,AL,2020-08-18,"1,516","1,516","1,516",10.74,10.49,10.99,"14,135","14,080","14,190"
33,DC,2020-08-18,143,136,150,5.31,0.96,9.67,"2,691","2,477","2,905"
34,AL,2020-08-19,"1,442","1,427","1,456",10.24,9.45,11.04,"14,094","13,993","14,195"
35,DC,2020-08-19,130,130,130,4.81,4.81,4.81,"2,701","2,701","2,701"
36,AL,2020-08-20,"1,379","1,373","1,386",9.77,9.46,10.08,"14,127","14,101","14,153"
...,...,...,...,...,...,...,...,...,...,...,...
1691,WY,2020-09-16,29,26,32,1.92,-1.61,5.46,"1,510","1,387","1,633"
1692,WV,2020-09-17,234,232,236,4.11,4.11,4.11,"5,698","5,698","5,698"
1693,WY,2020-09-17,33,33,33,2.19,2.19,2.19,"1,510","1,510","1,510"
1694,WV,2020-09-18,232,232,232,4.14,4.14,4.14,"5,609","5,609","5,609"
1695,WY,2020-09-18,33,30,36,2.18,-1.32,5.69,"1,511","1,388","1,634"

In [7]:
# Dropping the state columns with the alue 'PR' 
df = clean_states.drop(clean_states.loc[clean_states['state']== 'PR'].index)
df

,state,collection_date,Inpatient Beds Occupied by COVID-19 Patients Estimated,Count LL,Count UL,Percentage of Inpatient Beds Occupied by COVID-19 Patients Estimated,Percentage LL,Percentage UL,Total Inpatient Beds,Total LL,Total UL
32,AL,2020-08-18,"1,516","1,516","1,516",10.74,10.49,10.99,"14,135","14,080","14,190"
33,DC,2020-08-18,143,136,150,5.31,0.96,9.67,"2,691","2,477","2,905"
34,AL,2020-08-19,"1,442","1,427","1,456",10.24,9.45,11.04,"14,094","13,993","14,195"
35,DC,2020-08-19,130,130,130,4.81,4.81,4.81,"2,701","2,701","2,701"
36,AL,2020-08-20,"1,379","1,373","1,386",9.77,9.46,10.08,"14,127","14,101","14,153"
...,...,...,...,...,...,...,...,...,...,...,...
1691,WY,2020-09-16,29,26,32,1.92,-1.61,5.46,"1,510","1,387","1,633"
1692,WV,2020-09-17,234,232,236,4.11,4.11,4.11,"5,698","5,698","5,698"
1693,WY,2020-09-17,33,33,33,2.19,2.19,2.19,"1,510","1,510","1,510"
1694,WV,2020-09-18,232,232,232,4.14,4.14,4.14,"5,609","5,609","5,609"
1695,WY,2020-09-18,33,30,36,2.18,-1.32,5.69,"1,511","1,388","1,634"

In [8]:
# Checking how many states are in the df after the deletions 
df["state"].nunique()

51

In [9]:
# Sorting data by state
sorted_df = df.sort_values(by=['state'])
sorted_df

,state,collection_date,Inpatient Beds Occupied by COVID-19 Patients Estimated,Count LL,Count UL,Percentage of Inpatient Beds Occupied by COVID-19 Patients Estimated,Percentage LL,Percentage UL,Total Inpatient Beds,Total LL,Total UL
432,AK,2020-09-03,47,47,47,3.31,3.10,3.51,"1,210","1,203","1,217"
435,AK,2020-09-06,41,41,41,2.75,2.02,3.48,"1,201","1,176","1,226"
434,AK,2020-09-05,44,44,44,2.83,2.83,2.83,"1,200","1,177","1,223"
433,AK,2020-09-04,46,46,46,3.31,2.62,3.99,"1,210","1,187","1,233"
425,AK,2020-08-27,36,36,36,1.64,1.64,1.64,"1,277","1,277","1,277"
...,...,...,...,...,...,...,...,...,...,...,...
1671,WY,2020-09-06,32,32,32,2.12,0.69,3.55,"1,511","1,437","1,585"
1641,WY,2020-08-22,24,23,25,1.74,0.35,3.14,"1,378","1,309","1,447"
1673,WY,2020-09-07,32,32,32,2.12,0.87,3.37,"1,511","1,446","1,576"
1645,WY,2020-08-24,35,34,36,2.41,2.41,2.41,"1,454","1,407","1,501"
1695,WY,2020-09-18,33,30,36,2.18,-1.32,5.69,"1,511","1,388","1,634"

In [12]:
# Setting collection date value to datetime
sorted_df.collection_date = pd.to_datetime(sorted_df.collection_date)

In [13]:
# Writing df to csv 
sorted_df.to_csv('indexed_cleaned_estimated_beds.csv', index=False)

In [14]:
# Number of dates recorded
sorted_df["collection_date"].unique()

array(['2020-09-03T00:00:00.000000000', '2020-09-06T00:00:00.000000000',
       '2020-09-05T00:00:00.000000000', '2020-09-04T00:00:00.000000000',
       '2020-08-27T00:00:00.000000000', '2020-09-02T00:00:00.000000000',
       '2020-09-01T00:00:00.000000000', '2020-08-31T00:00:00.000000000',
       '2020-08-30T00:00:00.000000000', '2020-09-18T00:00:00.000000000',
       '2020-08-18T00:00:00.000000000', '2020-08-19T00:00:00.000000000',
       '2020-08-20T00:00:00.000000000', '2020-08-21T00:00:00.000000000',
       '2020-08-22T00:00:00.000000000', '2020-08-23T00:00:00.000000000',
       '2020-08-24T00:00:00.000000000', '2020-08-29T00:00:00.000000000',
       '2020-08-25T00:00:00.000000000', '2020-08-26T00:00:00.000000000',
       '2020-09-07T00:00:00.000000000', '2020-09-08T00:00:00.000000000',
       '2020-08-28T00:00:00.000000000', '2020-09-09T00:00:00.000000000',
       '2020-09-12T00:00:00.000000000', '2020-09-14T00:00:00.000000000',
       '2020-09-15T00:00:00.000000000', '2020-09-11T00:00:00.000000000',
       '2020-09-10T00:00:00.000000000', '2020-09-16T00:00:00.000000000',
       '2020-09-13T00:00:00.000000000', '2020-09-17T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [15]:
# Number of dates per state
sorted_df[["collection_date", "state"]].nunique()

collection_date    32
state              51
dtype: int64